body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    overflow: auto;
}

.modal_content {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
}

.close_modal_window {
    color: #000;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

#add_lead {
    display: flex;
    flex-direction: column;
}

